@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  /* colors */
  --primary: #5DB8A1;
  --secondary: #F4B860;
  --neutral: #363636;
  --white: #FFFFFF;

  /* size */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --p1: 1rem;
  --p2: 0.875rem;
  --p3: 0.75rem;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* ======= fonts ========== */
.h1 {
  font-size: var(--h1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--primary);
  letter-spacing: 1%;
}

.h2 {
  font-size: var(--h2);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--neutral);
  letter-spacing: 1%;
}

.h3 {
  font-size: var(--h3);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--neutral);
  letter-spacing: 1%;
}

.h4 {
  font-size: var(--h4);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--neutral);
  letter-spacing: 1%;
}

.h5 {
  font-size: var(--p1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1%;
}

.p1 {
  font-size: var(--p1);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2%;
  line-height: 26px;
  color: var(--neutral);
}

.p2 {
  font-size: var(--p2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2%;
  line-height: 26px;
  color: var(--neutral);
}

.list {
  font-size: var(--p1);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral);
  letter-spacing: 2%;
  line-height: 32px;
}

.small {
  font-size: var(--p3);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2%;
  line-height: 26px;
}

/* ======= bg colors ========== */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-primary-trans {
  background-color: var(--primary);
  opacity: 12%;
}

.bg-secondary-trans {
  background-color: var(--secondary);
  opacity: 12%;
}

.bg-grey-trans {
  background-color: var(--grey);
  opacity: 12%;
}